{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} SGI - Home{% endblock %}
{% block content %}

<div class="card">

   <div class="card-body" style="width: 28rem;">
       <h1>Purchase Form</h1>
      <form class="form-buy" method="POST" action="/basket">
       {{ form.hidden_tag() }}
       {{ wtf.form_field(form.customer_email) }}
       {{ wtf.form_field(form.customer_name) }}
       {{ wtf.form_field(form.customer_type) }}
       {{ wtf.form_field(form.customer_produce) }}
       {{ wtf.form_field(form.customer_price) }}
       {{ wtf.form_field(form.customer_kilo) }}
       {{ wtf.form_field(form.customer_address) }}
       {{ wtf.form_field(form.customer_contact) }}
       {{ wtf.form_field(form.customer_delivery_dt) }}
    <button class="btn btn-success" type="submit">Check Out</button>
  </form>
   </div>
</div>
{% endblock %}
